<div class="jumbotron mt-5">
  <h1 class="display-3 text-center">Homepage!</h1>
  <p class="lead text-center">sub-message.</p>
  <hr class="my-4">
  <p class="text-center">3rd message!</p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>