<form class="form-signin text-center" action="./login" method="post">
  <h1 class="h1 mb-3 font-weight-bold text-uppercase">express template</h1>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <div class="form-group">
    <div class="input-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address" required
        autofocus>
      <div class="input-group-append">
        <span class="input-group-text">@criteo.com</span>
      </div>
    </div>
  </div>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>