<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tab1">Tab 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab2">Tab 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled Tab</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane mt-3 fade active show" id="tab1">
    <p>tab 1 text</p>
  </div>
  <div class="tab-pane mt-3 fade" id="tab2">
    <p>tab 2 text</p>
  </div>
</div>